//- head.pug
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='https://chemwriter.com/sdk/chemwriter.css')
  link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png?v1=RyQRxndBa9')
  link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png?v1=RyQRxndBa9')
  link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png?v1=RyQRxndBa9')
  link(rel='manifest', href='/site.webmanifest?v1=RyQRxndBa9')
  link(rel='mask-icon', href='/safari-pinned-tab.svg?v1=RyQRxndBa9' color='#3f51b5')
  link(rel='shortcut icon', href='/favicon.ico?v1=RyQRxndBa9')
  meta(name='apple-mobile-web-app-title', content='ZLAB')
  meta(name='application-name', content='ZLAB')
  meta(name='msapplication-TileColor', content='#3f51b5')
  meta(name='theme-color', content='#ffffff')
  title ZLAB
